@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");
:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(
      45deg,
      #9b34ef 0%,
      #490cb0 20%,
      transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
      90deg,
      #5516ba,
      rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
  }

  *{
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html,body{
    height: 100vh;
  }
  a{
    text-decoration: none;
  }
  li{
    list-style: none;
  }

  body {
    background-color: var(--primary-color);
    color: var(--text-color);
    position: relative;
  }
  
  p {
    font-family: "Quicksand", sans-serif;
  }
  
  section {
    scroll-margin-top: 80px;
  }

  .container{
    max-width: 75rem;
    width: 100%;
    padding: 0 1.5rem;
    margin: auto;
  }
  img{
    width: 100%;
    height: 100%;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
  }

  /* Buttons */

.button {
  padding: 16px 40px;
  background-color: var(--tertiary-color);
  border-radius: 500px;
  font-weight: 700;
  color: var(--text-color);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  border: none;
  cursor: pointer;
  align-self: center;
}

.button.button--gradient {
  background: var(--btn-bg-color-gradient);
  outline: 3px solid transparent;
  transition: background 1s, outline 1s, transform 1s;
  background-size: 250%;
}

.button.button--gradient:hover {
  background-color: transparent;
  background-position: 100%;
  outline: 2px solid var(--secondary-color);
  transform: scale(1.05);
}

/*---------> HEADER <-----------*/
header{
  background: var(--nav-bg-color);
  position: fixed;
  width: 100vw;
  top: 0;
}
.header__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  width: 100%;

}
.header__logo{
  max-width: 10rem;
  height: 2rem;
}
.menu__lista{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-size: .75rem;
}
.menu__lista a{
  color: var(--btn-link-bg-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  border-radius: 31.25rem;
}
.menu__lista a:last-child{
  padding: .5rem 1.6rem;
  background-color: var(--tertiary-color);
  transition: color 1s, background 1s;
}
.menu__lista a:last-child:hover{
  background-color: var(--btn-link-bg-color);
  color: var(--btn-link-color);
}

/*---------> FOOTER <-----------*/
footer .container{
  text-align: center;
  padding: 2rem 0;
}
.footer__links{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 16px;
  font-weight: bold;
}
.link{
  color: var(--link-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.5s;
  font-size: .875rem;
  transition: color 1s;
}
.footer__social{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}
footer p{
  color: var(--link-color);
  font-size: .75rem;
  font-weight: 300;
}
.link:hover{
  color: var(--text-color);
}